<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./test/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Backend">
            <directory suffix="Test.php">./test/Backend/Authorize</directory>
            <directory suffix="Test.php">./test/Backend/System</directory>
            <directory suffix="Test.php">./test/Backend/Admin</directory>
            <directory suffix="Test.php">./test/Backend/User</directory>
            <directory suffix="Test.php">./test/Backend/Goods</directory>
        </testsuite>
        <testsuite name="Frontend">
            <directory suffix="Test.php">./test/Frontend/Authorize</directory>
        </testsuite>
        <testsuite name="Mobile">
            <directory suffix="Test.php">./test/Api/Mobile</directory>
        </testsuite>
        <testsuite name="Cases">
            <directory suffix="Test.php">./test/Cases</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
</phpunit>
